.root, .logo {
	flex-grow: 1;
}

.logo {
	text-align: left;
}

.navbar {
	background-color: #282c2f !important;
}

.menu {
	color: inherit;
	text-decoration: none;
	margin-left: 15px;
}

.menu button {
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 32px;
	padding-top: 4px;
    padding-bottom: 3px;
	font-size: 0.8rem;
}

:global(.active-nav) button {
	background-color: #b32727 !important;
}