.container {
	background-color: #282c2f;
	padding: 30px 0;
}

.container p {
	font-family: Roboto;
	text-align: center;
	color: #979696;
	margin-top: 0;
}

.container ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container ul li {
    display: inline-block;
    margin-right: 10px;
}

.container ul li a {
    display: flex;
	padding: 5px;
	background: #e7e7e717;
}

.heart {
	color: #de2654;
}

.github {
	color: #ffffffc9;
}

.facebook {
	color: #527ae5;
	padding: 0 4px;
}

.linkedin {
	color: #0a66c2;
}

.email {
    color: burlywood;
}